<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.medidocapp296549" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MediDocApp</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
    <content src="index.html" />
<!--    <access origin="*" />-->
    <!-- <allow-intent href="*.firebaseio.com" />
    <allow-intent href="https://s3-ap-southeast-1.amazonaws.com"/>
    <allow-intent href="auth.firebase.com" /> -->
    <!-- <access uri="https://*.firebaseio.com" subdomains="true" />
    <access origin="*.firebaseio.com" />
    <access origin="https://s3-ap-southeast-1.amazonaws.com"/>
    <access origin="auth.firebase.com" /> -->
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="Orientation" value="default" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="io.litehelpers.cordova.sqliteStorage" spec="~0.7.5" />
    <plugin name="cordova-plugin-camera" spec="~2.2.0" />
</widget>
