<ion-view view-title="Settings" hide-back-button="false">
    <ion-content>
    <!--     <div class="list">
        need to add fav daignose and procedure here
         <div class="item">
                <button class="button" ng-click="setCtrl.loadDiagnosis()">Diagnosis</button>
            </div>            
            <div class="item">
                <button class="button" ng-click="setCtrl.loadProcedure()">Procedure</button>
            </div>        
        </div> -->
    <div class="list">
        <a class="item item-icon-left item-icon-right" href="#/manageDiagnose">
            <i class="icon ion-ios-medical"></i>
            Manage Diagnosis
            <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/manageProcedure">
            <i class="icon ion-ios-medkit"></i>
            Manage Procedures
            <i class="icon ion-arrow-right-c"></i>
        </a>
    </div>
    </ion-content>
</ion-view>