<ion-view view-title="Task" hide-back-button="false">
<ion-content>
<div class="row ">
    <div class="button-bar">
        <button class="button button-stable icon ion-erlenmeyer-flask" ng-click="navigateLaboratoryTask()"> Laboratory Task</button>
        <button class="button button-stable icon ion-nuclear"> Radiology Task</button>
        <button class="button button-stable icon ion-woman" ng-click="navigateNurseTask()"> Nurse Task</button>
	</div>
</div>
<ion-nav-view></ion-nav-view>
</ion-content>
</ion-view>
