<style type="text/css">
.input-label{
  color: #aaaaaa;
}
.input-readonly{
    background-color: #fbfbfb;
}

</style>

<ion-view view-title="Patient Admission" hide-back-button="false">
<ion-header-bar class="bar-light bar-subheader" style="height: 60px;top: 35px;">
    <div class="search-bar">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" class="search-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search with NRIC/FIN..." ng-model="admissionCtrl.identity_id">
          </label>
          <button class="button icon ion-search" style="background-color:#eee;" ng-click="admissionCtrl.searchRegisteredPat()"> 
          </button>
           <button class="button icon ion-ios-refresh" style="background-color:#eee;" ng-click="admissionCtrl.reset()"> 
          </button>
        </div>
    </div>        
</ion-header-bar>

<ion-content>
<div class="list list-inset">
    <div class="row responsive-md"> 
        <div class="col"> 
        <div class="divider-title" style="text-align: center;">Patient Information</div>
       </div>
    </div> 
    <div class="row responsive-md"> 
      <div class="col"> 
        <label class="item item-input input-readonly">
          <i class="ion-person placeholder-icon"></i>{{admissionCtrl.regPatientList.first_name}} {{admissionCtrl.regPatientList.last_name}}
          {{admissionCtrl.regPatientList.other_name}}
        </label>
      </div>
      <div class="col"> 
        <label class="item item-input input-readonly">
          <i class="ion-person placeholder-icon"></i>
          {{admissionCtrl.regPatientList.identity_id}}
        </label>
      </div>
    </div>
    <div class="row responsive-md"> 
      <div class="col"> 
        <label class="item item-input input-readonly">
          <i class="ion-calendar placeholder-icon"></i>
          {{admissionCtrl.regPatientList.dob | limitTo:16 }}
        </label>
      </div>
      <div class="col"> 
        <label class="item item-input input-readonly">
          <i class="ion-waterdrop placeholder-icon"></i>
          {{admissionCtrl.regPatientList.blood_group}}
        </label>
      </div>
      <div class="col"> 
        <label class="item item-input input-readonly">
          <i class="ion-female placeholder-icon"></i>
          {{admissionCtrl.regPatientList.gender}}
        </label>
      </div>
    </div>

    <div class="row responsive-md"> 
      <div class="col"> 
        <label class="item item-input">
          <i class="ion-android-call placeholder-icon"></i>
          <input type="tel" placeholder="Contact No" ng-model="admissionCtrl.regPatientList.contact_no">
        </label>
      </div>
      <div class="col"> 
        <label class="item item-input">
          <i class="ion-ios-email placeholder-icon"></i>
          <input type="text" placeholder="Guardian Name" ng-model="admissionCtrl.regPatientList.guardian_name">
        </label>
      </div> 
    </div>
    <div class="row responsive-md"> 
      <div class="col">
        <label class="item item-input">
          <i class="ion-location placeholder-icon"></i>
          <input type="text" placeholder="Address" ng-model="admissionCtrl.regPatientList.address">
        </label>
      </div>
    </div>

    <div class="row responsive-md"> 
        <div class="col"> 
            <div class="divider-title" style="text-align: center;">Observations</div>
       </div>
    </div> 
    <div class="row responsive-md"> 
      <div class="col"> 
        <label class="item item-input">
          <i class="ion-thermometer placeholder-icon"></i>
          <input type="text" placeholder="Blood Pressure" ng-model="admissionCtrl.admissionList.bp">
        </label>
      </div>
      <div class="col"> 
        <label class="item item-input">
          <i class="ion-heart placeholder-icon"></i>
          <input type="text" placeholder="Pulse" ng-model="admissionCtrl.admissionList.pulse">
        </label>
      </div> 
    </div>


    <div class="row responsive-md"> 
      <div class="col">
        <label class="item item-input">
          <i class="ion-location placeholder-icon"></i>
          <input type="text" placeholder="Signs" ng-model="admissionCtrl.regPatientList.signs">
        </label>
      </div>
    </div>
    <div class="row responsive-md"> 
      <div class="col">
        <label class="item item-input">
          <i class="ion-location placeholder-icon"></i>
          <input type="text" placeholder="Symptoms" ng-model="admissionCtrl.regPatientList.symptoms">
        </label>
      </div>
    </div>
    <div class="row responsive-md"> 
      <div class="col">
        <label class="item item-input">
          <i class="ion-location placeholder-icon"></i>
          <input type="text" placeholder="History" ng-model="admissionCtrl.regPatientList.history">
        </label>
      </div>
    </div>
    <div class="row responsive-md"> 
      <div class="col">
        <label class="item item-input">
          <i class="ion-thumbsdown placeholder-icon"></i>
          <input type="text" placeholder="Allergies" ng-model="admissionCtrl.regPatientList.allergies">
        </label>
      </div>
    </div>


    <div class="row responsive-md"> 
        <div class="col"> 
            <div class="divider-title" style="text-align: center;">Assign Bed</div>
       </div>
    </div> 
    <div class="row responsive-md"> 
        <div class="col">
            <label class="item item-input item-select">
            <i class="ion-ios-people placeholder-icon"></i>
            <span class="input-label">Status</span>
                <select ng-model="admissionCtrl.admissionList.status">
                    <option ng-repeat="status in patientStatus" value="{{status.value}}">{{status.description}}</option>
                </select>
            </label>
        </div>
        <div class="col">
            <label class="item item-input item-select">
            <i class="ion-ios-people placeholder-icon"></i>
            <span class="input-label">Department</span>
                <select ng-model="admissionCtrl.selecteddepartment">
                    <option ng-repeat="department in hospitalDepartments" value="{{department.value}}">{{department.description}}</option>
                </select>
            </label>
        </div>
    </div>  
    <div class="row responsive-md">
        <div class="col">
            <label class="item item-input item-select">
                <i class="ion-ribbon-b placeholder-icon"></i>
                <span class="input-label">Ward</span>
                <select ng-model="admissionCtrl.selectedWard" ng-init="admissionCtrl.selectedWard=admissionCtrl.wardList[0]" ng-options="ward.ward_no for ward in admissionCtrl.wardList"></select>
                </label>
        </div>
        <div class="col">
             <label class="item item-input item-select">
                <i class="ion-ribbon-b placeholder-icon"></i>
                <span class="input-label">Bed</span>
                <select ng-model="admissionCtrl.selectedBed" ng-options="bed.bed_no for bed in admissionCtrl.selectedWard.bedDetails | filter: filterAvalibleBed">
                </select>
            </label>
        </div>
     </div> 


    <div class="row responsive-md"> 
        <div class="col"> 
              <div class="divider-title" style="text-align: center;">Assign Staff</div>
       </div>
    </div> 
     <div class="row responsive-md"> 
        <div class="col">
            <label class="item item-input item-select">
                <i class="ion-medkit placeholder-icon"></i>
                <span class="input-label">Designation</span>
                <select ng-model="admissionCtrl.selecteddesignation">
                    <option ng-repeat="designation in staffDesignations" value="{{designation.value}}">{{designation.description}}</option>
                </select>
            </label>
        </div>
        <div class="col">
            <label class="item item-input item-select">
                <i class="ion-medkit placeholder-icon"></i>
                <span class="input-label">Staff</span>
                <select ng-model="admissionCtrl.selectedStaff" ng-options="staff.first_name for staff in admissionCtrl.staffList | filter: filterStaff">
                </select>
            </label>
        </div>
    </div> 

    <div class="padding center">
            <button class="button button-block button-balanced" ng-click="admissionCtrl.saveAdmission()">Admit Patient</button>
    </div>
</div>
</ion-content>
</ion-view>
