<!--This will be written to seperate css file and build tool will contactinate to one file-->
<!--once the build is done style should be removed-->
<style>
    .toggle-button {
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
    }
</style>

<!-- <i class="icon control-right toggle-button" ng-class="toggleValue? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'" ng-click="toggle()"></i> -->


<i class="icon control-right toggle-button" ng-class="toggleValue? 'ion-android-arrow-dropdown-circle' : 'ion-android-arrow-dropup-circle'" ng-click="toggle()"></i>